/*Schrijf hier jouw eigen CSS*/

/*-----Global Styles----*/
* {
    * {
        margin: 0;
        padding: 0;
    }
    ol, ul {
        list-style: non
}
/*-----Styles opdracht 1-------*/
.container-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.container-1 article {
    order: 3;
    flex-basis: 360px;
    height: 360px;
    background: white;
    align-items: end;
}
.container-1 article h2 {
font-weight: bold}
}
/*-----Styles opdracht 2-------*/
.container-2 {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
}